<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>A1</string>
		<key>name</key>
		<string>Arina</string>
		<key>company</key>
		<string>BigBro</string>
		<key>title</key>
		<string>Sales</string>
		<key>mobile</key>
		<string>0922222222</string>
		<key>email</key>
		<string>kaykk@mail.com</string>
		<key>address</key>
		<string>1, 23 Lane, RR Street, WD District, OO City</string>
	</dict>
	<dict>
		<key>image</key>
		<string>A2</string>
		<key>name</key>
		<string>Arina</string>
		<key>company</key>
		<string>BigBro</string>
		<key>title</key>
		<string>Sales</string>
		<key>mobile</key>
		<string>0922222222</string>
		<key>email</key>
		<string>kaykk@mail.com</string>
		<key>address</key>
		<string>1, 23 Lane, RR Street, WD District, OO City</string>
	</dict>
	<dict>
		<key>image</key>
		<string>A3</string>
		<key>name</key>
		<string>Arina</string>
		<key>company</key>
		<string>BigBro</string>
		<key>title</key>
		<string>Sales</string>
		<key>mobile</key>
		<string>0922222222</string>
		<key>email</key>
		<string>kaykk@mail.com</string>
		<key>address</key>
		<string>1, 23 Lane, RR Street, WD District, OO City</string>
		<key>line</key>
		<string>kaykk</string>
		<key>fb</key>
		<string>kaykk</string>
	</dict>
</array>
</plist>
