<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Katrina</string>
		<key>job</key>
		<string>Accountant</string>
		<key>company</key>
		<string>Quick Tech</string>
		<key>email</key>
		<string>yuxuanlin599@gmail</string>
		<key>mobile</key>
		<string>0966192639</string>
		<key>address</key>
		<string>1, 23 Lane, RR Street, WD District, OO City</string>
		<key>photoimage</key>
		<string>0</string>
		<key>line</key>
		<string>kkatrinaday</string>
		<key>fb</key>
		<string>Katrina Miller</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sam</string>
		<key>job</key>
		<string>Repoter</string>
		<key>company</key>
		<string>Three Apple</string>
		<key>email</key>
		<string>yuxuanlin599@gmail</string>
		<key>mobile</key>
		<string>0966192639</string>
		<key>address</key>
		<string>1, 23 Lane, RR Street, WD District, OO City</string>
		<key>photoimage</key>
		<string>1</string>
		<key>line</key>
		<string>Samshere</string>
		<key>fb</key>
		<string>Sam Smith</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lee</string>
		<key>job</key>
		<string>Product Manager</string>
		<key>company</key>
		<string>Quick Tech</string>
		<key>email</key>
		<string>yuxuanlin599@gmail</string>
		<key>mobile</key>
		<string>0966192639</string>
		<key>address</key>
		<string>1, 23 Lane, RR Street, WD District, OO City</string>
		<key>photoimage</key>
		<string>2</string>
		<key>line</key>
		<string>leecomes</string>
		<key>fb</key>
		<string>Lee Quick</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cecilia</string>
		<key>job</key>
		<string>UI</string>
		<key>company</key>
		<string>Quick Tech</string>
		<key>email</key>
		<string>yuxuanlin599@gmail</string>
		<key>mobile</key>
		<string>0966192639</string>
		<key>address</key>
		<string>1, 23 Lane, RR Street, WD District, OO City</string>
		<key>photoimage</key>
		<string>3</string>
		<key>line</key>
		<string>Cecilialine</string>
		<key>fb</key>
		<string>Cecilia Moore</string>
	</dict>
</array>
</plist>
